// BEGIN VENDOR CSS
link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css'+rtl+'/vendors.min.css')

block vendorcss
// END VENDOR CSS

// BEGIN VUEXY CSS
link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/bootstrap.css')
link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/bootstrap-extended.css')
link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/colors.css')
link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/components.css')

// BEGIN Page Level CSS
block pagecss
// END Page Level CSS

// BEGIN Custom CSS
link(rel='stylesheet', type='text/css', href=assets_path+'/css/style'+rtl+'.css')
// END Custom CSS
