//- =========================================================================================
    File Name: app-calendar.pug
    Description: Full Calendar
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================

extends template

block pageVars
    - var pageTitle = "App calendar"
    - var pageSubTitle = "App calendar Example"
    - var description = "FullCalendar is a drag-n-drop jQuery plugin for displaying events on a full-sized calendar."
    - var activeMenu = "app-calendar"

block page-header


//- Include page content in page block
append content
    include ../contents/app-calendar.html

//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/calendars/fullcalendar.min.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/forms/select/select2.min.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/pickers/flatpickr/flatpickr.min.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
    script(src=app_assets_path+'/vendors/js/calendar/fullcalendar.min.js')
    script(src=app_assets_path+'/vendors/js/extensions/moment.min.js')
    script(src=app_assets_path+'/vendors/js/forms/select/select2.full.min.js')
    script(src=app_assets_path+'/vendors/js/forms/validation/jquery.validate.min.js')
    script(src=app_assets_path+'/vendors/js/pickers/flatpickr/flatpickr.min.js')

//- Page CSS
//------------------------------
//- Add page specific CSS
append pagecss
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/forms/pickers/form-flat-pickr.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/app-calendar.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/forms/form-validation.css')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
    script(src=app_assets_path+'/js/scripts/pages/app-calendar-events.js')
    script(src=app_assets_path+'/js/scripts/pages/app-calendar.js')
