//- =========================================================================================
  File Name: app-kanban.pug
  Description: App Kanban
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
  ==========================================================================================-//

extends template

block pageVars
  - var pageTitle    = "Kanban"
  - var pageSubTitle = "Kanban"
  - var description  = ""
  - var activeMenu   = "app-kanban"

append pageConfig
  - var pageClass = 'kanban-application'

block page-header

//- Include page content
append content
  include ../contents/app-kanban.html


//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/jkanban/jkanban.min.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/pickers/flatpickr/flatpickr.min.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/forms/select/select2.min.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/editors/quill/katex.min.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/editors/quill/monokai-sublime.min.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/editors/quill/quill.snow.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/editors/quill/quill.bubble.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/forms/pickers/form-flat-pickr.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/forms/form-quill-editor.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/forms/form-validation.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/app-kanban.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
  script(src=app_assets_path + '/vendors/js/jkanban/jkanban.min.js')
  script(src=app_assets_path+'/vendors/js/forms/select/select2.full.min.js')
  script(src=app_assets_path+'/vendors/js/pickers/flatpickr/flatpickr.min.js')
  script(src=app_assets_path + '/vendors/js/editors/quill/katex.min.js')
  script(src=app_assets_path + '/vendors/js/editors/quill/highlight.min.js')
  script(src=app_assets_path + '/vendors/js/editors/quill/quill.min.js')
  script(src=app_assets_path + '/vendors/js/forms/validation/jquery.validate.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
  script(src=app_assets_path + '/js/scripts/pages/app-kanban.js')
